<div class="qtitle">
<p>Quotes</p>
</div>

<ul class="categories">
	<li><%= link_to "Encouragement", cat_quotes_path("Encouragement")%></li>
	<li><%= link_to "Future", cat_quotes_path("Future")%></li>
	<li><%= link_to "Humour", cat_quotes_path("Humour")%></li>
	<li><%= link_to "Inspirational", cat_quotes_path("Inspirational")%></li>
	<li><%= link_to "Relationships", cat_quotes_path("Relationships")%></li>
	<li><%= link_to "Religious", cat_quotes_path("Religious")%></li>
	<li><%= link_to "Romantic", cat_quotes_path("Romantic")%></li>
</ul>

	<% @quotes.each do |quote| %>
	<div class="quotebox">
		<p id="qbody"><%= quote.body %></p>
		<div class="info">
		<p><%= quote.category%>~
		<%= quote.user.name unless quote.user.nil? %>
		<%= link_to '~Show', quote %>

		<% if user_signed_in? %>
		<% if quote.user_id == current_user.id %>
		<%= link_to 'Edit', edit_quote_path(quote) %>
		<%= link_to 'Delete', quote_path(quote),
                    method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <%end%>
        <%end%>
    	</div>
        
	</div>

	<%end%>


