<h1>Quotes</h1>
<table>
	<tr>
		<td>Quote</td>
		<td>Category</td>
		<td>User</td>
	</tr>
	<% @quotes.each do |quote| %>
	<tr>
		<td><%= quote.body%></td>
		<td><%= quote.category%></td>
		<td><%= quote.user.name %></td>
		<td><%= link_to 'Show', quote %></td>
		<td><%= link_to 'Edit', edit_quote_path(quote) %></td>
		<td><%= link_to 'Destroy', quote_path(quote),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	
	<%end%>
</table>

