<%= form_for(@quote) do |f| %>

<% if @quote.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@quote.errors.count, "error") %> prohibited
		this quote from being saved: 
	</h2>
		<ul>
			<% @quote.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
</div>
<% end %>

<div class= "field">
	<p>Quote</p>
	<%= f.text_area :body %>
</div>

<div class="field">
	<p>Category</p>
	<%= f.select :category, options_for_select(["Encouragement","Future","Humour","Inspirational","Relationships","Religious","Romantic"]) %>
</div>

<div class="field">
	<%= f.hidden_field :user_id, :value => current_user.id %>
</div>

<div class= "actions">
	<%= f.submit %>
</div>

<%end%>

<%= link_to 'See All Quotes', quotes_path %>