<p>
	<strong>Quote</strong>
	<%= @quote.body %>
</p>

<p>
	<strong>Category</strong>
	<%= @quote.category %>
</p>

<%= link_to 'Back', quotes_path %> 

<% if user_signed_in? && @quote.user_id == current_user.id %>
<%= link_to 'Edit', edit_quote_path(@quote) %>
<%= link_to 'Delete', quote_path(@quote),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%end%>