<h2><%= @user.name%>'s Dashboard</h2>

<div>

<h3> Following </h3>
	<% @followers.each do |follow| %>
		<p> <%= follow.followee.name %> </p>
	<%end%>

<h3>Out</h3>
	<% @lent_book.each do |lent| %>
		<tr>
			<td><%= lent.title%></td>
			<td><%= link_to 'Returned', Borrowed.where(book: lent).take!,
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<%end%>

<h3>Borrowing</h3>
	<% @borrowed.each do |borrowed| %>
		<tr>
			<td><%= borrowed.book.title unless borrowed.book.nil? %></td>
		</tr>
	<%end%>



</div>

<div>
	<h3> Books </h3>
	<% @books.each do |book| %>
		<div class = "dash-review">
			<h2><%= link_to book.title, book_path(book.id) %></h2>
			<td><%= filepicker_image_tag book.filepicker_url, w:160, h:160, fit: 'clip' %></td>
			<h5><%= link_to book.user.name, user_path(book.user_id) %></h5>
			<p><%= book.body %><p>
		</div>
	<%end%>

	<h3> Quotes </h3>
	<% @quotes.each do |quote| %>
		<div class = "dash-review">
			<p><%= quote.body %></p>
			<h5><%= link_to quote.user.name, user_path(quote.user_id) %></h5>
		</div>
	<%end%>

</div>
