<div>
	<p>
		<strong>name</strong>
		<%= @user.name %>
	</p>

	<p>
		<strong>email</strong>
		<%= @user.email %>
	</p>

	<% @books.each do |book| %>
		<div class= "dash-review">
			<h2><%= link_to book.title, book_path(book.id)%></h2>
			<td><%= filepicker_image_tag book.filepicker_url, w:160, h:160, fit: 'clip' %></td>
			<h5><%= book.user.name %></h5>
			<p><%= book.body%></p>
		</div>
	<%end%>
</div>

<%= link_to 'Back', users_path %> 

