
<div class="quotes">
	<%= link_to "See Quotes", quotes_path %>
</div>

<div class = "rquote">
	<p><%= @randomquote %></p>
</div>

<div class="books">
	<%= link_to "Books", books_path %>
</div>

<div>
<% Book.all.each do |book| %>
	<div class = "bookscroll">
		<h1><%= link_to book.title, book%></h1>
		<p> <%=filepicker_image_tag book.filepicker_url, w:160, h:160, fit: 'clip' %> </p>
	</div>
<%end%>
</div>