<h1>Books</h1>

<%=form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
	<tr>
		<td>Title</td>
		<td> </td>
		<td>Comments</td>
		<td>Category</td>
		<td>Date</td>
		<td>Rating</td>
		<td>Available to Borrow</td>
		<td> </td>
		<td>User</td>
	</tr>

	<% @books.each do |book| %>
	<tr>
		<td><%= book.title%></td>
		<% if !book.filepicker_url.nil?%>
		<td><%= filepicker_image_tag book.filepicker_url, w:160, h:160, fit: 'clip' %></td>
		<%end%>

		<td><%= book.body%></td>
		<td><%= book.category%></td>
		<td><%= book.date%></td>
		<td><%= book.rating%></td>
		<td><% if book.available%>
			<%="I own it"%>
			<%else%>
			<%="I don't own it"%>
			<%end%></td>

	<% if user_signed_in? %>
	<% if !(Borrowed.find_by book_id: book.id) && book.available %>
				<td> <%= form_for(@borrowed) do |f| %>
					<div class = "field">
					<%= f.hidden_field :user_id, :value => current_user.id %> </div>
					<div class = "field">
					<%= f.hidden_field :book_id, :value => book.id %> </div>
					<div class= "actions">
					<%= f.submit "Borrow"%> </div>
					<%end%>
				</td>
			<%else%>
				<td> <%= "This book is out" %> </td>
		<%end%>
	<%end%>

		<td><%= book.user.name unless book.user.nil?%></td>
		
		<td><%= link_to 'Show', book %></td>

	<% if user_signed_in? %>

		<% if @book.user_id = current_user.id %>
			<td><%= link_to 'Edit', edit_book_path(@book) %></td>
			<td><%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<%end%>

	<%end%>
	
	</tr>

	<%end%>

</table>
