<div class="bookt">
<p>Books</p>
</div>

<ul class="categories">
	<li id= "cat"><%= link_to "Action", cat_books_path("Action")%></li>
	<li id= "cat"><%= link_to "Classic", cat_books_path("Classic")%></li>
	<li id= "cat"><%= link_to "Educational", cat_books_path("Educational")%></li>
	<li id= "cat"><%= link_to "Fantasy", cat_books_path("Fantasy")%></li>
	<li id= "cat"><%= link_to "Religious", cat_books_path("Religious")%></li>
	<li id= "cat"><%= link_to "Romance", cat_books_path("Romance")%></li>
	<li id= "cat"><%= link_to "Self-Help", cat_books_path("Self-Help")%></li>
	<li id= "cat"><%= link_to "Suspense", cat_books_path("Suspense")%></li>
	<li id= "cat"><%= link_to "To Read", cat_books_path("To Read")%></li>
</ul>

<div class = "books">
	<% @books.each do |book| %>
	<div class="bookbox">
		<p id = "title"><%= book.title%></p>
		<% if !book.filepicker_url.nil?%>
		<p id = "image"><%= filepicker_image_tag book.filepicker_url, w:260, h:260, fit: 'clip' %></p>
		<%end%>

		<p id = "rates">Genre: <%= book.category%> ~Rating: <%= book.rating%> 

		<% if user_signed_in? %>
		<% if !(Borrowed.find_by book_id: book.id) && book.available && !@borrowed.nil?%>
				<%= form_for(@borrowed) do |f| %>
					<div class = "field">
					<%= f.hidden_field :user_id, :value => current_user.id %> </div>
					<div class = "field">
					<%= f.hidden_field :book_id, :value => book.id %> </div>
					<div class= "actions">
					<%= f.submit "Borrow"%> </div>
					<%end%>
			<%else%>
				<%= "~Out" %></p>
		<%end%>
	<%end%>

		<p id="details"><%= book.user.name unless book.user.nil?%>		
		<%= link_to '~Show', book %>
		<% if user_signed_in? %>
		<% if book.user_id == current_user.id %>
			<%= link_to 'Edit', edit_book_path(book) %>
			<%= link_to 'Delete', book_path(book), method: :delete, data: { confirm: 'Are you sure?' } %></p>
		<%end%>
		<%end%>

	</div>

	<%end%>
</div>

