<h1>Books</h1>

<ul>
	<li><%= link_to "Action", cat_books_path("Action")%></li>
	<li><%= link_to "Classic", cat_books_path("Classic")%></li>
	<li><%= link_to "Educational", cat_books_path("Educational")%></li>
	<li><%= link_to "Fantasy", cat_books_path("Fantasy")%></li>
	<li><%= link_to "Religious", cat_books_path("Religious")%></li>
	<li><%= link_to "Romance", cat_books_path("Romance")%></li>
	<li><%= link_to "Self-Help", cat_books_path("Self-Help")%></li>
	<li><%= link_to "Suspense", cat_books_path("Suspense")%></li>
</ul>

<table>
	<tr>
		<td>Title</td>
		<td>Author</td>
		<td> </td>
		<td>Comments</td>
		<td>Category</td>
		<td>Rating</td>
		<td>Available to Borrow</td>
		<td> </td>
		<td>User</td>
	</tr>

	<% @books.each do |book| %>
	<tr>
		<td><%= book.title%></td>
		<td><%= book.author%></td>
		<% if !book.filepicker_url.nil?%>
		<td><%= filepicker_image_tag book.filepicker_url, w:160, h:160, fit: 'clip' %></td>
		<%end%>

		<td><%= book.body%></td>
		<td><%= book.category%></td>
		<td><%= book.rating%></td>
		<td><% if book.available%>
			<%="I own it"%>
			<%else%>
			<%="I don't own it"%>
			<%end%></td>

	<% if user_signed_in? %>
	<% if !(Borrowed.find_by book_id: book.id) && book.available && !@borrowed.nil?%>
				<td> <%= form_for(@borrowed) do |f| %>
					<div class = "field">
					<%= f.hidden_field :user_id, :value => current_user.id %> </div>
					<div class = "field">
					<%= f.hidden_field :book_id, :value => book.id %> </div>
					<div class= "actions">
					<%= f.submit "Borrow"%> </div>
					<%end%>
				</td>
			<%else%>
				<td> <%= "This book is out" %> </td>
		<%end%>
	<%end%>

		<td><%= book.user.name unless book.user.nil?%></td>
		
		<td><%= link_to 'Show', book %></td>
		
		<% if book.user_id == current_user.id %>
			<td><%= link_to 'Edit', edit_book_path(book) %></td>
			<td><%= link_to 'Delete', book_path(book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<%end%>
	</tr>

	<%end%>

</table>
