<div class="new">

<%= form_for(@book) do |f| %> <!--Do I need to add a url here?-->

<% if @book.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@book.errors.count, "error") %> prohibited
		this book from being saved: 
	</h2>
		<ul>
			<% @book.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
</div>
<% end %>

<div class= "field">
	<p>Title</p>
	<%=f.text_field :title%>
</div>

<div class="field">
	<p>Author</p>
	<%= f.text_field :author %>
</div>

 <div class= "field">
    <%= f.label :filepicker_url, "Upload Book Image:" %>
    <%= f.filepicker_field :filepicker_url %>
 </div>

<div class= "field">
	<p>Comments</p>
	<%= f.text_area :body %>
</div>

<div class="field">
	<p>Genre</p>
	<%= f.select :category, options_for_select(["Action","Classic","Educational","Fantasy","Religious","Romance","Self-Help","Suspense","To Read"]) %>
</div>

<div class="field">
	<p>Rating Out of 10</p>
	<%= f.text_field :rating %>
</div>

<div class="field">
	<p>Check box if you own this book:</p>
	<%= f.check_box :available%>

<div class="field">
	<p>user</p>
	<%= f.hidden_field :user_id, :value => current_user.id %>
</div>

<div class= "actions">
	<%= f.submit %>
</div>

<%end%>
<%= link_to 'See All Books', books_path %>

</div>
