<p>
	<strong>Title</strong>
	<%= @book.title %>
	
	<%= filepicker_image_tag @book.filepicker_url, w: 160, h: 160, fit: 'clip' %>

</p>

<p>
	<strong>Comments</strong>
	<%= @book.body %>
</p>

<p>
	<strong>Genre</strong>
	<%= @book.category %>
</p>

<p>
	<strong>Rating</strong>
	<%= @book.rating %>
</p>

<p>
	<strong>Available to Borrow</strong>
	<% if @book.available%>
		<%="I own it"%>
	<%else%>
		<%="I don't own it"%>
	<%end%>
</p>

<% if current_user.id? %>
<p>
	<% if !(Borrowed.find_by book_id: @book.id) %>
		<%= form_for(@borrowed) do |f| %>
			<div class = "field">
			<%= f.hidden_field :user_id, :value => current_user.id %> </div>
			<div class = "field">
			<%= f.hidden_field :book_id, :value => @book.id %> </div>
			<div class= "actions">
				<%= f.submit %> </div>
		<%end%>
	<%else%>
		<%= "This book is out" %>
	<%end%>
</p>
<%end%>

<%= link_to 'Back', books_path %> 
<%= link_to 'Edit', edit_book_path(@book) %>