<div class="new">

<p>
	<strong>Title</strong>
	<%= @book.title %>
</p>

<p>
	<strong>Author</strong>
	<%= @book.author %>
</p>

<%= filepicker_image_tag @book.filepicker_url, w: 280, h: 280, fit: 'clip' %>


<p>
	<strong>Comments</strong>
	<%= @book.body %>
</p>

<p>
	<strong>Genre</strong>
	<%= @book.category %>
</p>

<p>
	<strong>Rating</strong>
	<%= @book.rating %>
</p>

<p>
	<strong>Available to Borrow</strong>
	<% if @book.available%>
		<%="I own it"%>
	<%else%>
		<%="I don't own it"%>
	<%end%>
</p>

<% if user_signed_in? %>
<p>
	<% if !(Borrowed.find_by book_id: @book.id) && !@borrowed.nil?%>
		<%= form_for(@borrowed) do |f| %>
			<div class = "field">
			<%= f.hidden_field :user_id, :value => current_user.id %> </div>
			<div class = "field">
			<%= f.hidden_field :book_id, :value => @book.id %> </div>
			<div class= "actions">
				<%= f.submit "Borrow" %> </div>
		<%end%>
	<%else%>
		<%= "This book is out" %>
	<%end%>
</p>
<%end%>

<%= link_to 'Back', books_path %> 
<% if @book.user_id == current_user.id %>
<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>

</div>
