<p>
	<strong>Title</strong>
	<%= @book.title %>
	
	<%= filepicker_image_tag @book.filepicker_url, w: 160, h: 160, fit: 'clip' %>

</p>

<p>
	<strong>Comments</strong>
	<%= @book.body %>
</p>

<p>
	<strong>Genre</strong>
	<%= @book.category %>
</p>

<p>
	<strong>Rating</strong>
	<%= @book.rating %>
</p>

<p>
	<strong>Available to Borrow</strong>
	<% if book.available%>
		<%="I own it"%>
	<%else%>
		<%="I don't own it"%>
	<%end%>
</p>

<%= link_to 'Back', books_path %> 
<%= link_to 'Edit', edit_book_path(@book) %>