<!DOCTYPE html>
<html>
<head>
  <title>HW4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="public/bootstrap.min.css">
</head>
<body>
	<div class="navbar">
		<ul class="nav">
			<div id="left">
				<li class='nav-link home'><%= link_to "Home", home_index_path %></li>
			</div>

			<div id="right">
				<li class='nav-link'><%= link_to "Edit Profile", edit_user_registration_path %></li>
				<li class='nav-link'><%= link_to "+Books", new_book_path %></li>
				<li class='nav-link'><%= link_to "+Quotes", new_quote_path %></li>
				<% if !user_signed_in? %> 
				<li> 
					<%=link_to('Login', new_user_session_path) %>
				</li>
				
				<%else%>
				<li>
					<%=link_to('Logout', destroy_user_session_path(:authenticity_token => form_authenticity_token()), :method => :delete) %>
				</li>
				<%end%>

			</div>
		</ul>
	</div>
<p class="notice"><%=notice%></p>
<p class="alert"><%=alert%></p>

	<div class="content">
	<%= yield %>
	</div>

</body>
</html>
