<!DOCTYPE html>
<html>
<head>
  <title>HW4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="public/bootstrap.min.css">
</head>

<body>
	<div class = "navbar">
		<ul class="nav">
			<div id="left">
				<li class = 'nav-linksearch'>
					<%= form_tag search_path, method: :post do %>
   						 <%= text_field_tag :search%>
   						 <%= select_tag(:type, options_for_select([['title', "title"],['author', "author"],['quotes',"body"],["email","email"],["name","name"]]))%>
  						 <%= submit_tag "Search", :class => "hide"%></li>
					<% end %>
				<li class = 'nav-link'><%= link_to "HOME", home_index_path %></li>
			</div>

			<div id="right">
				<% if user_signed_in? %> 
				<ul>
					<li class = 'dropdown'><a class = 'nav-link' href='#'><%=current_user.name%></a>
					<ul>
						<li class = 'nav-link'><%= link_to "DASHBOARD", dashboard_path %></li>
						<li class = 'nav-link'><%= link_to "USERS", users_path %></li> 
						<li class = 'nav-link'><%= link_to "EDIT PROFILE", edit_user_registration_path %></li>
						<li class = 'nav-link'><%=link_to('LOGOUT', destroy_user_session_path(:authenticity_token => form_authenticity_token()), :method => :delete) %></li>
					</ul>
					</li>

					<li class='nav-link'><%= link_to "+BOOKS", new_book_path %></li>
					<li class='nav-link'><%= link_to "+QUOTES", new_quote_path %></li>
				</ul>

				<% else %> 
				<li class = 'nav-link'><%=link_to('LOGIN', new_user_session_path) %></li>

				<%end%>

			</div>
		</ul>
	</div>

<p class="notice"><%=notice%></p>
<p class="alert"><%=alert%></p>

<div class="content">
<%= yield %>
</div>

</body>
</html>
